.contact {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5rem;
  form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1em;
    textarea {
      resize: none;
    }
    .contact__form-btn {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
  .contact__informations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .contact__informations-mail-content {
      text-decoration: underline;
      display: block;
      font-size: var(--nexus-font-size-sm);
      padding: 0;
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 768px) {
  .contact,
  .contact form {
    grid-template-columns: 1fr;
  }
}
