<footer>
  <div class="footer__container container">
    <p>&copy; Copyright. All Rights Reserved</p>
    <div class="col-sm-6 social text-md-right">
      <a href="https://www.linkedin.com/in/guillaume-nadrault/" target="_blank"
        ><span class="fa fa-linkedin"></span
      ></a>
      <a href="https://github.com/GNadrault" target="_blank"
        ><span class="fa fa-github"></span
      ></a>
      <a href="https://www.facebook.com/GuiguiNad" target="_blank"
        ><span class="fa fa-facebook"></span
      ></a>
    </div>
  </div>
</footer>
