<h1>Home</h1>
<div class="description-container">
  <img
    src="assets/img/divers/guillaume_nadrault_img.jpg"
    alt="Guillaume Nadrault"
    id="profil-img"
    class="img-fluid shadow"
  />
  <div class="description">
    <h2>Hi, I'm Guillaume Nadrault, IT Developer 💻</h2>
    <p class="text-justify">
      Through my studies and my professional experiences I acquired skills in
      building, energy and IT.
    </p>
    <p class="text-justify">
      Passionate about technological innovation, I work in the technical and
      functional aspect of applications and in the development of new
      technological tools to facilitate the user experience.
    </p>
    <p class="text-justify">
      After finishing my master’s degree in energy and energetics in 2015, I
      switched into computer science. I studied software development until 2019
      in a professional school. Along this journey, I had the opportunity to
      have different professional experiences.
    </p>
    <p class="text-justify">
      During my pastime, I enjoy learning game programming and participate in
      Game JAMs.
    </p>
  </div>
</div>

<div class="experiences-container">
  <article class="experience card">
    <img class="exp-company-logo" src="assets/img/company/epsyl.png" />
    <div class="exp-job-date">
      <h3>Fullstack developer</h3>
      <p class="exp-duration">2021-2023</p>
    </div>
    <p class="text-justify">
      In 2017, I joined Oxiane in full-time, a french tech services company. I
      worked for a client, an editorial company and was in a team of around 30
      persons. I was involved into the quality of the application, my job was to
      code in Java test cases and execute them regularly and automatically to
      identify regressions and share them to the developers.
    </p>
  </article>
  <article class="experience card">
    <img class="exp-company-logo" src="assets/img/company/oxiane.png" />
    <div class="exp-job-date">
      <h3>Java developer</h3>
      <p class="exp-duration">2017-2020</p>
    </div>
    <p class="text-justify">
      In 2017, I joined Oxiane in full-time, a french tech services company. I
      worked for a client, an editorial company and was in a team of around 30
      persons. I was involved into the quality of the application, my job was to
      code in Java test cases and execute them regularly and automatically to
      identify regressions and share them to the developers.
    </p>
  </article>
  <article class="experience card">
    <img class="exp-company-logo" src="assets/img/company/hydro-quebec.png" />
    <div class="exp-job-date">
      <h3>Thermal engineer (internship)</h3>
      <p class="exp-duration">2015</p>
    </div>
    <p class="text-justify">
      For my last internship, I worked in the energetic laboratory of
      Hydro-Québec, in Canada, for 6 months. I analyzed results of different
      heating systems strategies in houses in Québec and concluded about the
      efficiency in terms of thermical comfort and consumption. I also
      participated in writing a scientific article for a presentation.
    </p>
    <a
      class="exp-link"
      href="https://www.aceee.org/files/proceedings/2016/data/papers/1_88.pdf"
      target="_blank"
      >[View article]</a
    >
  </article>
  <article class="experience card">
    <img class="exp-company-logo" src="assets/img/company/aldes.png" />
    <div class="exp-job-date">
      <h3>Tools programmer (internship)</h3>
      <p class="exp-duration">2014</p>
    </div>
    <p class="text-justify">
      I worked during 3 months in a laboratory of a ventilation system company,
      my job was to develop an application to take control of a ventilation
      system and get some information, I developed this software with the Java
      language and the swing framework.
    </p>
  </article>
</div>
