.home__description {
  font-size: var(--nexus-font-size-md);
  display: flex;
  gap: 2em;
  padding-bottom: 3em;

  .home__description-logo {
    max-width: 20rem;
    height: 100%;
    box-shadow: var(--nexus-shadows-card-lg);
    border-radius: var(--nexus-radius-card-lg);
  }

  p {
    padding-bottom: 1em;
  }

  .home__description-content-download-cv {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

.home__experiences {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1em;

  article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .home__experience-company-logo {
      height: 3rem;
      width: auto;
    }

    .home__experience-date {
      display: flex;
      justify-content: space-between;
    }

    .home__experience-duration {
      color: var(--nexus-color-text-muted);
    }

    .home__experience-link {
      width: fit-content;
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 768px) {
  .home__description {
    flex-direction: column;
  }
  .home__description-logo {
    width: 100%;
    align-self: center;
  }
}

// RESPONSIVE
@media screen and (max-width: 640px) {
  .home__experiences {
    grid-template-columns: 1fr;
  }
}
