<div class="home__description">
  <img
    src="assets/img/divers/guillaume_nadrault_img.jpg"
    alt="Guillaume Nadrault"
    class="home__description-logo img-fluid shadow"
  />
  <div class="home__description-content">
    <h2>Bonjour, je m'appelle Guillaume NADRAULT</h2>
    <p class="text-justify">Développeur full-stack depuis plus de 4 ans. 💻</p>
    <p class="text-justify">
      À travers mes études et mes expériences professionnelles, j'ai pu acquérir
      diverses compétences en informatique, que ce soit sur le plan technique ou
      fonctionnel.
    </p>
    <p class="text-justify">
      Ma passion pour l'innovation technologique m'a toujours guidé. J'apprécie
      travailler sur tous les aspects d'une application, de la conception d'une
      base de données relationnelle à l'implémentation de l'interface
      utilisateur. Mon objectif est de constamment proposer de nouveaux outils
      afin de faciliter l'expérience des utilisateurs et d'améliorer leur
      productivité. 🚀
    </p>
    <p class="text-justify">
      En dehors du travail, je consacre mes moments de loisirs à l'apprentissage
      de la programmation de jeux et à la participation à des Game JAMs. 🎮
      C'est dans ces défis créatifs que je trouve une source d'inspiration et
      une occasion de perfectionner mes compétences.
    </p>
    <button
      class="home__description-content-download-cv"
      (click)="downloadCV()"
    >
      Télécharger mon CV ⏎
    </button>
  </div>
</div>

<div class="home__experiences">
  <article class="home__experience card">
    <div class="home__experience-company-container">
      <img
        class="home__experience-company-logo"
        src="assets/img/company/epsyl.png"
      />
    </div>
    <div class="home__experience-date">
      <h3>🧑🏻‍💻 Développeur full-stack</h3>
      <p class="home__experience-duration">2021-2023</p>
    </div>
    <p class="text-justify">
      Pendant plus de deux ans, j'ai eu l'opportunité de travailler sur
      différents projets du service public, notamment sur un projet du Ministère
      de l'Agriculture où j'ai contribué au développement d'un outil complet
      destiné aux laboratoires. Cet outil avait pour objectif de répertorier et
      classifier des échantillons, qu'ils aient déjà été prélevés ou qu'ils
      soient destinés à l'analyse. Et également sur le projet France Identité
      pour la dématérialisation de la carte d'identité et du permis de conduire.
    </p>
  </article>
  <article class="home__experience card">
    <div class="home__experience-company-container">
      <img
        class="home__experience-company-logo"
        src="assets/img/company/oxiane.png"
      />
    </div>
    <div class="home__experience-date">
      <h3>💻 Développeur Java</h3>
      <p class="home__experience-duration">2017-2020</p>
    </div>
    <p class="text-justify">
      En 2017, j'ai rejoint Oxiane à temps plein, une société de service et de
      formation basée à Paris. J'ai travaillé pour un client, une entreprise
      éditoriale, au sein d'une équipe d'environ 30 personnes. Mon rôle était
      centré sur la qualité de l'application. Je codais des cas de test en Java
      et les exécutais de manière régulière et automatique afin d'identifier les
      régressions, puis je partageais ces résultats avec les développeurs.
    </p>
  </article>
  <article class="home__experience card">
    <div class="home__experience-company-container">
      <img
        class="home__experience-company-logo"
        src="assets/img/company/hydro-quebec.png"
      />
    </div>
    <div class="home__experience-date">
      <h3>🏡 Ingénieur énergétique habitat (stage)</h3>
      <p class="home__experience-duration">2015</p>
    </div>
    <p class="text-justify">
      Lors de mon dernier stage d'études, j'ai travaillé au laboratoire
      énergétique d'Hydro-Québec, au Canada, pendant 6 mois. J'ai analysé les
      résultats de différentes stratégies de systèmes de chauffage dans des
      maisons au Québec et ai tiré des conclusions sur leur efficacité en termes
      de confort thermique et de consommation. J'ai également participé à la
      rédaction d'un article scientifique en vue d'une présentation.
    </p>
    <a
      class="home__experience-link"
      href="https://www.aceee.org/files/proceedings/2016/data/papers/1_88.pdf"
      target="_blank"
      >[Voir article]</a
    >
  </article>
  <article class="home__experience card">
    <div class="home__experience-company-container">
      <img
        class="home__experience-company-logo"
        src="assets/img/company/aldes.png"
      />
    </div>
    <div class="home__experience-date">
      <h3>🛠️ Programmeur outils (stage)</h3>
      <p class="home__experience-duration">2014</p>
    </div>
    <p class="text-justify">
      Pendant trois mois, j'ai travaillé dans le laboratoire d'une entreprise
      spécialisée dans les systèmes de ventilation. Mon rôle consistait à
      développer une application pour piloter un banc d'essai de ventilation et
      obtenir des informations de pressions et de débit d'air en temps réel.
      J'ai développé ce logiciel en utilisant le langage Java et le framework
      Swing.
    </p>
  </article>
</div>
